/* -------------------- SIDEBAR  ------------------------ */

body {
  background: white;
  margin: 0;
}

.sidebar-container .sidebar-top h2 {
  font-family: Avenir;
  font-weight: 100;
  color: #f2f2f2;
}

.sidebar-container .sidebar-links p {
  font-family: Avenir;
  margin-bottom: 0;
  color: #0099ff;
  margin-top: 0;
  margin-left: 10px;
  display: none;
}

.sidebar-container {
  height: 100%;
  width: 3%;
  float: left;
  background-color: #f2f2f2;
  transition: 0.5s;
}

.sidebar-container .sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.sidebar-container .sidebar-top .close {
  display: none;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  height: 80%;
  position: relative;
  top: 3rem;
}

.sidebar-links img {
  width: 15px;
  height: 15px;
  display: flex;
  margin-right: 0;
  padding-top: 2px;
}

.sidebar-links a {
  display: flex;
  text-decoration: none;
  height: 3.7rem;
  transition: all 300ms ease;
  margin-left: 8px;
}

.sidebar-links a:hover {
  margin-left: 1rem;
  color: #b3d1ff;
}

.sidebar-links p:hover {
  margin-left: 1rem;
  color: #b3d1ff;
}

#bottom-link {
  position: absolute;
  bottom: 2rem;
}

/* ----------------------------- MAIN DASHBOARD ----------------------------- */
.right-container {
  background-color: white;
  height: 100%;
  width: 21%;
  float: right;
  display: flex;
  overflow: hidden;
  display: block;
}

.main-container {
  width: 100%;
  height: 100%;
  float: center;
  display: inline-flex;
}

.middle-container {
  background-color: white;
  width: 79%;
  float: left;
}

#calendar table {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  float: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#calendar td,
th {
  font-family: Avenir;
  color: black;
  padding: 5px;
  font-size: 15px;
  font-weight: 100;
}

.month {
  color: #0099ff;
  font-weight: 20;
}

#calendar {
  height: 30%;
  padding-left: 5%;
  margin-bottom: 23%;
  margin-top: 22%;
}

#calendar h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#notes-container {
  background-color: #99d6ff;
  margin-top: 30px;
  height: 45%;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin-left: 4%;
  overflow: auto;
}

.note-wrapper {
  height: 90%;
  background-color: white;
  width: 100%;
}

#notes-heading {
  margin: 0;
  display: inline-block;
  margin-bottom: 3%;
  margin-left: 5%;
  font-family: Avenir;
  font-size: 18px;
}

#note-btn {
  border: none;
  background-color: #0099ff;
  height: 20px;
  border-radius: 5px;
  margin-left: 58%;
  margin-top: 5%;
}

#note-btn:hover {
  background-color: #99ccff;
}

#plus-icon {
  height: 20px;
  width: 15px;
}

#notes-table {
  width: 100%;
  border-collapse: collapse;
}

#notes-table td {
  font-family: Avenir;
  font-size: 12px;
  margin: 0;
  line-height: 5px;
  padding-left: 15px;
  color: black;
}

#notes-table tr {
  height: 20px;
}

#notes-table td:hover {
  background-color: #f2f2f2;
}
#notes-table td:first-child {
  background-color: white;
}

#note-input {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: 0;
  width: 160%;
  margin-left: 2%;
  font-family: Avenir;
  font-size: 13px;
}

#form-row {
  display: none;
}
/* -----------------------------dashboard stats ----------------------------- */

.stats-container {
  display: flex;
  margin-left: 2%;
}

.container {
  width: 45%;
  height: 24%;
  display: inline-block;
  margin-right: 2%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stats-container h3 {
  margin-left: 2%;
  width: 5%;
  padding-left: 10px;
  display: inline-block;
}

#container-1 {
  background-color: #99d6ff;
  margin-left: 5%;
}

#container-2 {
  background-color: #99d6ff;
}

#container-3 {
  background-color: #99d6ff;
  margin-left: 0%;
}

#container-4 {
  background-color: #99d6ff;
}

.container h3 {
  color: #333333;
  font-family: Avenir;
  font-weight: bold;
  /* margin: 0;
  padding: 0; */
  font-size: 13px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 2%;
}
.inner-container {
  height: 81%;
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: auto;
  display: inline-block;
}

#stat-text {
  display: inline-block;
  margin: 0;
  float: right;
  margin-top: 22%;
  margin-bottom: 20%;
  margin-right: 50%;
  font-family: Avenir;
  font-weight: bold;
  font-size: 20px;
}

.icon-container {
  height: 30%;
  width: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 0;
  overflow: auto;
  display: inline-block;

  opacity: 0.5;
}

#icon-1 {
  background-color: #ffbb99;
}

#icon-2 {
  background-color: #99ffcc;
}

#icon-3 {
  background-color: #80ccff;
}

#icon-4 {
  background-color: #d9b3ff;
}
.stat-container-small {
  display: inline-block;
  margin: 0;
  width: 48%;
}

.stat-container .container:last-child {
  padding-right: 0;
}

#welcome-text {
  padding-left: 45px;
  font-family: Avenir;
  font-size: 20px;
  color: #0099ff;
  font-weight: 100;
}

.stat-container h3 {
  padding-left: 3%;
  font-family: Avenir;
  font-size: 14px;
}

#stat-icon {
  height: 35px;
  width: 30px;
  margin-left: 16%;
  margin-right: 18%;
}

/* -----------------------------HEADER STUFF ----------------------------- */

.header-block {
  background-image: url("/static/img/header.jpg");
  width: 100%;
  height: 90%;
}

#seperator {
  padding-right: 5px;
  padding-left: 5px;
}

.login-buttons button {
  text-decoration: none;
  font-family: Avenir;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.login-buttons a {
  text-decoration: none;
  font-family: Avenir;
  color: white;
  font-size: 15px;
}

.header-toolbar p {
  color: #0099ff;
  display: inline;
  float: right;
}

#bottom-link {
  position: absolute;
  margin: auto;
}

.bottom-links img {
  position: absolute;
  padding-bottom: 29px;
}

#main-header {
  background-color: #00264d;
  width: 100%;
  height: 200px;
}

.main-header {
  background-color: #00264d;
}

#list-icon {
  width: 30px;
  height: 30px;
  margin-left: 6px;
}

.header-toolbar {
  width: 100%;
  height: 4%;
  background-color: #0099ff;
}

/* APPT SECTION ON DASHBOARD */
.appointment-container {
  margin-left: 24px;
  width: 100%;
  margin-right: 0;
  display: inline-block;
}

.appointment-container h3 {
  font-size: 18px;
  font-family: Avenir;
  padding-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #333333;
}

.table-wrapper {
  background-color: white;
  height: 47%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.table-appt {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}

#pending-appt {
  width: 100%;
  background-color: pink;
  border-collapse: collapse;
}

#patient-appt {
  background-color: white;
  overflow: hidden;
  height: 55px;
  white-space: nowrap;
}

#notes-table tr {
  background-color: white;
  overflow: hidden;
  height: 28px;
  white-space: nowrap;
}

#patient-appt td {
  line-height: 50px;
}

.patient-name {
  font-family: Avenir;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  padding-left: 2%;
  width: 40%;
  height: 12px;
  display: inline-block;
}

.appt-time {
  font-family: Avenir;
  font-size: 16px;
  display: inline-block;
  height: 12px;
  margin-left: 47%;
}

.appt-reason {
  display: block;
  font-family: Avenir;
  font-size: 10px;
  height: 10px;
  padding-top: 1%;
  padding-left: 2%;
  width: 20%;
  margin: 0;
}

.appt-container1 {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  background-color: pink;
}

.table-container {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  background-color: #99d6ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin-top: 3%;
}

.appt-container2 {
  width: 25%;
  display: inline-block;
  margin-left: 1%;
  height: 51%;
  margin-top: 3%;
  vertical-align: top;
  background-color: #99d6ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

#patient-heading {
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 4%;
}

.patient-container {
  height: 93%;
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.table-appt tbody tr:hover {
  background-color: #f2f2f2;
}

.info {
  margin: 0;
  background-color: white;
  display: inline-block;
  margin-top: 5%;
  width: 100%;
  height: 89%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* testing media queries */
@media screen and (max-width: 780px) {
  #appt-table {
    background-color: pink;
  }

  .stat-container-small {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .middle-container {
    width: 100%;
  }

  .appointment-container {
    width: 90%;
  }

  #container-1 {
    margin-left: 0;
  }

  .stats-container-small {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1070px) {
  #appt-table {
    background-color: blue;
  }

  #container-1 {
    margin-left: 0;
  }

  .stat-container-small {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .middle-container {
    width: 100%;
  }

  .appointment-container {
    width: 93%;
  }

  #container-1 {
    margin-left: 3%;
  }

  #container-3 {
    margin-left: 3%;
  }

  .signup-btn {
    color: pink;
  }
}

/* form stuff */

.login-form label {
  width: 100%;
  font-family: Avenir;
  margin-top: 20px;
}

.login-form label:first-child {
  margin-top: 100px;
}

.form-container {
  width: 40%;
  height: 100%;
  float: right;
}

.form-background {
  width: 100%;
  height: 90%;
  background-color: white;
}

.text-container {
  height: 100%;
  width: 60%;
  float: left;
}

.text-container h1 {
  font-size: 50px;
  color: white;
  font-family: Avenir;
  font-weight: 100;
  text-align: center;
  overflow: auto;
  margin-top: 23%;
  margin-bottom: 0;
}

.text-container h3 {
  font-size: 25px;
  color: white;
  font-family: Avenir;
  font-weight: 100;
  text-align: center;
  overflow: auto;
  margin-top: 0;
}

.form {
  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 25px;
  margin-top: 5%;
  overflow: auto;
}

.form-outer {
  width: 65%;
  background-color: #e6e6e6;
  height: 70%;
  margin: auto;
  margin-top: 15%;
  border-radius: 25px;
  overflow: auto;
}

.form-inner {
  background-color: white;
  border-radius: 25px;
  height: 78%;
}

.form-buttons {
  display: inline-block;
  width: 100%;
}

.form-buttons button {
  color: black;
  font-family: Avenir;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding-bottom: 3%;
  padding-top: 3%;
  width: 25%;
  text-align: center;
}

.form-buttons button:first-child {
  margin-left: 12%;
  margin-right: 6%;
  font-weight: bold;
  border-bottom: 2px solid #0099ff;
}

label {
  display: block;
  font-family: Avenir;
  color: #0099ff;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 8px;
}

.form-inner input[type="text"] {
  outline: 0;
  border: 0;
  margin-left: 10px;
  border-bottom: 1px solid lightgrey;
}

input[type="password"] {
  width: 90%;
  outline: 0;
  border: 0;
  margin-left: 10px;
  border-bottom: 1px solid lightgrey;
}

.form-inner p {
  font-family: Avenir;
  color: #0099ff;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 8px;
  display: inline-block;
}

input[type="radio"] {
  display: inline-block;
  margin-top: 7px;
}

.radio-box {
  display: inline-block;
  color: gray;
  margin: 0;
}

#signup-btn {
  border-radius: 25px;
  width: 90%;
  height: 10%;
  background-color: #0099ff;
  color: white;
  border: none;
  margin-left: 4%;
  margin-top: 5%;
}

#signup-btn:hover {
  background-color: #66b3ff;
}

.large {
  width: 90%;
}

.small {
  width: 30%;
  display: inline-block;
  margin: 0;
}

.medium {
  width: 55%;
}

#age-label {
  margin: 0;
  width: 35%;
  display: inline-block;
  margin-left: 10px;
}

.phone-label {
  margin: 0;
  width: 40%;
  display: inline-block;
  margin-left: 12px;
}

.age-label {
  margin: 0;
  width: 20%;
  display: inline-block;
  margin-left: 8%;
  padding-left: 10%;
}

.small-label:last-child {
  color: red;
}

/* form media queries */
@media screen and (max-width: 750px) {
  .header-block {
    height: 120%;
  }

  .form-container {
    height: 60%;
    width: 100%;
    display: block;
  }

  .form-outer {
    height: 70%;
  }

  .text-container {
    height: 20%;
    width: 100%;
  }
}

.appt-request-container {
  height: 90%;
  width: 100%;
  background-color: #b3e6ff;
}

.appt-container-left {
  height: 100%;
  width: 97%;

  display: inline-block;
  margin: 0;
  float: left;
}
.appt-container-right {
  height: 100%;
  width: 47%;
  background-color: f2f2f2;
  display: inline-block;
  margin: 0;
  float: right;
}

.page-title {
  font-family: Avenir;
  color: #333333;
  font-weight: 100;
  font-size: 22px;
  padding-left: 4%;
  margin: 0;
  padding-top: 4%;
}

.upper-container {
  height: 35%;
  width: 100%;
  overflow: auto;
}

.bottom-container {
  height: 70%;
  width: 100%;
  overflow: auto;
}

.filter-container {
  width: 40%;
  height: 80px;
  margin-left: 2%;
}

#search-bar {
  background-color: white;
  height: 35%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-left: 4%;
}

#search-bar {
  margin-top: 7%;
}

#search-icon {
  height: 15px;
  width: 15px;
  display: inline-block;
  padding-left: 2%;
  margin-top: 2%;
  padding-right: 2%;
}

.search {
  outline: 0;
  border: 0;
  width: 70%;
  height: 80%;
  border-radius: 10px;
  display: inline-block;
}

.appt-table-container {
  height: 85%;
  margin-left: 3%;
  width: 45%;
  background-color: #99d6ff;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  display: inline-block;
}

.appt-table-container h3 {
  font-size: 18px;
  font-family: Avenir;
  padding-left: 2%;
  margin: 0;
  color: #333333;
  margin-bottom: 2%;
  margin-top: 2%;
}

.appt-table-inner {
  height: 93%;
  width: 100%;
  background-color: white;
  border-radius: 25px;
}

.cancel-button {
  display: inline-block;
  background-color: red;
  float: right;
  margin-right: 2%;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  font-family: Avenir;
  height: 4%;
  opacity: 0.5;
}

#approve-button {
  display: inline-block;
  background-color: green;
  float: right;
  margin-right: 2%;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  font-family: Avenir;
  height: 4%;
  opacity: 0.5;
}

.appt-date {
  font-family: Avenir;
  font-size: 10px;
  color: red;
  float: left;
  padding-left: 2%;
  padding-top: 1%;
}

.appt-time-small {
  font-family: Avenir;
  font-size: 10px;
  color: blue;
  float: left;
  padding-top: 1%;
}

.approve-icon {
  width: 22px;
  height: 22px;
  background-color: lightgreen;
  outline: none;
  border: none;
  border-radius: 20px;
  background-image: url("/static/img/bootstrap/check.svg");
  margin-left: 200px;
  float: right;
  margin-right: 4%;
}

.deny-icon {
  width: 22px;
  height: 22px;
  background-color: red;
  opacity: 0.8;
  outline: none;
  border: none;
  border-radius: 20px;
  margin-right: 2%;
  background-image: url("/static/img/bootstrap/x-lg.svg");
}

.req-form {
  margin-bottom: 0;
}

.req-form .upper-form input[type="text"] {
  outline: 0;
  border: 0;
  /* margin-left: 10px; */
  border-bottom: 1px solid lightgrey;
  display: inline-block;
}

.same-line {
  width: 40%;
  display: inline-block;
  margin: 0;
}

.one-line {
  float: left;
  width: 100%;
  display: flex;
}

.one-line input {
  width: 40%;
}

.one-line input:first-child {
  margin-left: 10px;
}

.one-line label:last-child {
  margin-left: 25%;
}

.one-line input:last-child {
  margin-left: 7%;
}

.bday {
  margin-top: 17%;
}

#form-date {
  padding-left: 2%;
}

.full-width {
  width: 87%;
  margin-left: 2%;
}

.comments {
  width: 88%;
  height: 40px;
  margin-left: 3%;
  outline: none;
  border: 1px solid;
  border-radius: 25px;
  border-color: lightgrey;
  margin-top: 1%;
}
#city {
  padding-left: 13%;
}

#add-padding {
  margin-bottom: 2%;
}
#name {
  padding-left: 10%;
}

#lname {
  /* padding-left: 6%; */
}

#frequency {
  padding-left: 5%;
}

.upper-form {
  margin-left: 2%;
  padding-top: 3%;
}

#req-btn {
  border: none;
  outline: none;
  background-color: #0099ff;
  color: white;
  font-family: Avenir;
  height: 30px;
  width: 180px;
  border-radius: 25px;
  margin-left: 33%;
  margin-top: 2%;
}

#req-btn:hover {
  background-color: #66b3ff;
}

.manage-appt-container {
  height: 48%;
  margin-left: 3%;
  width: 100%;
  background-color: #99d6ff;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  display: block;
  margin: 0;
}

.manage-appt-container:last-child {
  margin-top: 4%;
}

.right-tables {
  height: 84%;
  width: 48%;
  display: inline-block;
  margin-left: 2%;
}

.table-heading {
  font-size: 18px;
  font-family: Avenir;
  padding-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #333333;
}

#appt-status {
  font-family: Avenir;
  font-size: 12px;
  height: 10px;
  padding-top: 1%;
  padding-left: 9%;
  width: 20%;
  margin: 0;
  font-style: italic;
}

.approved {
  color: green;
}

.denied {
  color: red;
}

.manage-appt-row {
  background-color: white;
  overflow: hidden;
  height: 45px;
  white-space: nowrap;
}

.pres-name {
  display: block;
  font-family: Avenir;
  font-size: 14px;
  height: 10px;
  padding-top: 1%;
  padding-left: 2%;
  width: 20%;
  margin: 0;
  color: #595959;
}

#grey {
  color: #595959;
}

#pres-status {
  font-family: Avenir;
  font-size: 12px;
  height: 10px;
  padding-top: 1%;
  padding-left: 5%;
  width: 20%;
  margin: 0;
  font-style: italic;
  color: #595959;
}

#header-logout-icon {
  width: 15px;
  height: 15px;
}

#header-logout {
  float: right;
  margin-right: 1%;
  margin-top: 5px;
}

#header-logout img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

#header-logout p {
  margin: 0;
  font-family: Avenir;
  color: white;
  font-size: 12px;
}

#header-logout p:hover {
  color: #b3e6ff;
}

.patient-info-box {
  background-color: pink;
}

.patient-table-wrapper {
  background-color: #f2f2f2;
  height: 30%;
  width: 90%;
  margin-left: 4%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

.patient-table-wrapper:last-child {
  margin-top: 6%;
  height: 45%;
}

.center-container {
  height: 100%;
  width: 72%;
}

.side-container {
  width: 28%;
  height: 100%;
  float: right;
}

.patient-table-inner {
  width: 100%;
  background-color: white;
}

#bottom-table {
  height: 100%;
  margin-top: 0;
}

#top-table {
  height: 84%;
  margin: 0;
}

.patient-table-wrapper .patient-table-inner .patient-table-header th {
  color: white;
  background-color: #0099ff;
  font-size: 14px;
  text-align: left;
  padding-left: 2%;
}

.patient-info-row {
  overflow: hidden;
  height: 30px;
  white-space: nowrap;
}

.patient-info-row td {
  font-family: Avenir;
  font-size: 12px;
  padding-left: 2%;
  color: #333333;
}

.search-container {
  height: 10%;
  width: 50%;
  float: left;
  margin-left: 3%;
}

.left-info {
  height: 100%;
  width: 33%;
  display: inline-block;
  margin: 0;
  float: left;
}

.center-info {
  height: 100%;
  width: 33%;
  display: inline-block;
  margin: 0;
  float: left;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.right-info {
  height: 100%;
  width: 33%;
  display: inline-block;
  margin: 0;
  float: left;
}

#profile-pic {
  height: 55px;
  width: 55px;
  margin-left: 40%;
  margin-top: 2%;
}

#name-heading {
  font-family: Avenir;
  font-size: 15px;
  margin-left: 33%;
  font-weight: 500;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contact-btn {
  height: 15%;
  width: 55%;
  background-color: pink;
  border: none;
  outline: none;
  border-radius: 7px;
  display: block;
  margin-left: 23%;
}

.contact-btn:last-child {
  margin-top: 2%;
}

#phone-icon {
  height: 15px;
  width: 15px;
  float: left;
}

#call-btn {
  background-color: #70db70;
}

#email-btn {
  background-color: #0099ff;
}

.contact-text {
  color: white;
  font-family: Avenir;
  font-size: 12px;
  float: left;
  margin: 0;
  padding-left: 10%;
}

.info-heading {
  font-family: Avenir;
  font-size: 14px;
  margin-left: 2%;
  font-weight: 500;
  margin-bottom: 2%;
  /* margin: 0; */
}

.info-text {
  font-family: Avenir;
  font-size: 12px;
  display: block;
  margin: 0;
  margin-left: 2%;
  margin-bottom: 1%;
}

.prescription-container {
  height: 78%;
  width: 90%;
  background-color: #f2f2f2;
  margin-top: 6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  overflow: auto;
}

.patient-inner-container {
  background-color: white;
  height: 95%;
  width: 100%;
}

#prescription-form {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#prescription-form label {
  font-size: 12px;
}

#prescription-form .no-borders input {
  outline: 0;
  border: 0;
  margin-left: 10px;
  border-bottom: 1px solid lightgrey;
}

.top-padding {
  margin-top: 28%;
}

#prescription-btn {
  width: 60%;
  height: 6%;
  border: none;
  outline: none;
  margin-top: 5%;
  background-color: #0099ff;
  color: white;
  border-radius: 25px;
  margin-left: 18%;
}

#prescription-btn:hover {
  background-color: #66b3ff;
}

.long-input {
  width: 83%;
}

.no-borders {
  height: 77%;
  overflow: auto;
}

#age {
  padding-left: 8%;
}

#padding-btm {
  margin-bottom: 2%;
}

#import-btn {
  height: 4%;
  width: 86%;
  background-color: #0099ff;
  border: none;
  outline: none;
  margin-top: 17%;
  border-radius: 25px;
  margin-left: 2%;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#import-btn:hover {
  background-color: #66b3ff;
}

#patient-info-heading {
  margin: 0;
  font-family: Avenir;
  font-size: 18px;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
