{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/header.html' %}
<div class = "main-container">
    
    {% include 'partials/sidebar.html' %}
    <div class = "middle-container">
       <div class = "stat-container">
        <!-- load this info dynamically based on who's logged in-->     
            <h3 id = "welcome-text">Welcome, name!</h3> 
            <div class = "stat-container-small">

                <!-- make stats info dynamic: -->
                <div id = "container-1" class = "container">
                    <h3>Rooms Available</h3>
                    <div class = "inner-container">
                        <div id = "icon-1" class = "icon-container">
                            <img id = "stat-icon" src = "{% static 'img/bootstrap/room.svg' %}" alt="placeholder" width="10px" height="10px">
                        </div>
                        <h3 id = "stat-text">2/10</h3>               
                    </div>
                </div>
    
                <div id = "container-2" class = "container">
                    <h3>Appointments Today</h3>
                    <div class = "inner-container">
                        <div id = "icon-2" class = "icon-container">
                            <img id = "stat-icon" src = "{% static 'img/bootstrap/appt-today.svg' %}" alt="placeholder" width="10px" height="10px">
                        </div>
                        <!-- this number should be equiv to number of rows in appt table -->
                        <h3 id = "stat-text">14</h3>                   
                    </div>
                </div>
            </div>
            
            <div class = "stat-container-small">
                <div id = "container-3" class = "container">
                    <h3>Total Patients</h3>
                    <div class = "inner-container">
                        <div id = "icon-3" class = "icon-container">
                            <img id = "stat-icon" src = "{% static 'img/bootstrap/people.svg' %}" alt="placeholder" width="10px" height="10px">
                        </div>
                        <!-- this num should be the total num of patients in the DB -->
                        <h3 id = "stat-text">912</h3>                       
                    </div>                    
                </div>
    
                <div id = "container-4" class = "container">
                    <h3>Total Doctors</h3>
                    <div class = "inner-container">
                        <div id = "icon-4"  class = "icon-container">
                            <img id = "stat-icon" src = "{% static 'img/bootstrap/heart.svg' %}" alt="placeholder" width="10px" height="10px">
                        </div>
                        <!-- this num should be the total num of doctors in the DB -->
                        <h3 id = "stat-text">28</h3>   
                    </div>
                </div>
            </div>

            
       </div>

       <div class = "appointment-container">
            <div class = "table-container">
                    <h3>Today's Appointments</h3>

                    <!-- need to load all appointments in the DB and sort by todays date -->
                    <div class = "table-wrapper">
                        <table id = "table-appt">
                            <tr id = "patient-appt">
                                <td class = "patient-name">Name</td>
                                <td class = "appt-time">12:00</td>
                                <td class= "appt-reason">Medical Examination</td>

                            </tr>
                            <tr id = "patient-appt">
                                <td class = "patient-name">Name</td>
                                <td class = "appt-time">12:00</td>
                                <td class= "appt-reason">Medical Examination</td>
                            </tr>
                            <tr id = "patient-appt">
                                <td class = "patient-name">Name</td>
                                <td class = "appt-time">12:00</td>
                                <td class= "appt-reason">Medical Examination</td>

                            </tr>
                            <tr id = "patient-appt">
                                <td class = "patient-name">Name</td>
                                <td class = "appt-time">12:00</td>
                                <td class= "appt-reason">Medical Examination</td>
                            </tr>
                        </table>
                    </div>
            </div>
            
            <div class = "appt-container2">
                <h3 id = "patient-heading">Patient Info</h3>
                <div class = "patient-container">
                    <!-- dynamic patient info here -->
                    <!-- initially populate with first row in appt table, but change info based on row clicked -->
                </div>
            </div>
       </div>  
    </div>



    <div class = "right-container">
        <div id = "calendar">
            <!-- <h3>Calendar</h3> -->
            <p>{{cal | safe}}</p>
        </div>

        
        <div id = "notes-container">
            <h3 id = "notes-heading">Notes</h3>
            <button id = "note-btn" onClick = "addNewNote()">
                <img id = "plus-icon" src = "{% static 'img/bootstrap/new.svg' %}" alt="placeholder" width="10px" height="10px">
            </button>
            <div class = "note-wrapper">
                <table id = "notes-table">
                    <tr id ="form-row">
                        <td>
                            <input id = "note-input" type = "text" id = "note" onblur = "focusOutFunc()"/>
                        </td>
                    </tr>

                </table>

            </div>
        
    </div>
</div>





{% endblock %}
