{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <link href = "{% static 'css/sidemenu.css' %}" rel="stylesheet ">
    </head>
</html>
{% block content %}
<br>
<br>


<div class = "header-block">
    <div class = "text-container">
        <h1>Welcome to the new</h1>
        <h3>Hospital Management System.</h3>
    </div>

    <div class = "form-container">
        <div class = "form">
            <div class = "form-outer">
                <div class = "form-buttons">

                    <button id = "register-btn" onClick = "clickRegisterBtn()">Register</button>
                    <button id = "signin-btn" onClick = "clickSignUpBtn()">Sign In</button>
                    </div>
                <div class = "form-background">
                   
                <form class = "form-inner">
                    <p>Select Role: </p>
                    <input type="radio" id="patient" name="role" value="patient" onClick = "patientSelected()">
                    <label class = "radio-box" for="patient">Patient</label>
                    <input type="radio" id="doctor" name="role" value="doctor" onClick = "doctorSelected()">
                    <label class = "radio-box" for="doctor">Doctor</label>


                    <br>
                    <label for = "fname">Full Name</label>
                    <input class="large" type = "text" id = "fname" name = "fname">
                    <br>
                    <div class = "optional">
                        <label for = "address">Address</label>
                    <input class="large" type = "text" id = "address" name = "address">
                    <br>
                    <p>Gender: </p>
                    <input type="radio" id="male" name="gender" value="male">
                    <label class = "radio-box" for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label class = "radio-box" for="female">Female</label>
                    <input type="radio" id="other" name="gender" value="other">
                    <label class = "radio-box" for="other">Other</label>
                    <br>

                    <label class = "phone-label" for = "phone">Phone</label>
                    <label class ="age-label" for = "age">Age</label>
                    <input class="medium" type = "text" id = "phone" name = "phone">
                    <input class = "small" type = "text" id = "age" name = "age">

                    <label for = "bday">D.O.B</label>
                    <input class="large" type = "text" id = "bday" name = "bday">


                    </div>             
                    <label for = "pass">Password: </label>
                    <input class="large" type = "password" id = "pass" name = "pass">

                </form>
                <button id = "signup-btn">Register</button>
                </div>
               
                
                
            </div>

        </div>
    </div>
</div>



{% endblock %}